PORT=XXXX
TIMEZONE=XXXX
LOG_LEVEL=XXXX
CRYPTO_SECRET_KEY=XXXX
JWT_SECRET=XXXX
MONGO_URI=XXXX
IDLE_TIMEOUT_MS=1800000 # 30 min
JWT_EXPIRES_IN_MS=7200000 # 2 hours
MAIL_RESET_URL=
REVALIDATION_SECRET=af492cd1cba29151eb256b883724ed7f4b325c67bd6092fab25f304b4f2d5de8
FRONTEND_URL=https://ystudy.co.uk